@font-face {
  font-family: "First Job";
  src: url("../fonts/FirstJob-X8rP.ttf");
}
.container {
  display: flex;
  justify-content: center;
}
.nav {
  position: absolute;
  border-radius: 20px;
  width: 80%;
  padding: 28px;
  margin-top: 25px;
  backdrop-filter: blur(30px);
  border: solid rgba(255, 0, 0, 0.5);
  border-width: 3.5px;
  display: flex;
  justify-content: center;
}

.span {
  padding: 30px;
  text-decoration: none;
  margin-right: 70px;
  color: #cec4c2;
  font-size: 45px;
  text-shadow: 1px 1px 1px black;
  display: flex;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-family: "First Job";
}
.span:hover {
  transform: scale(1.1);
}
.link {
  text-decoration: none;
}
